name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # ======================
  # STAGE: TEST
  # ======================
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run tests
        run: mvn test


  # ======================
  # STAGE: BUILD
  # ======================
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build JAR
        run: mvn package -DskipTests

      - name: Save JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar


  # ======================
  # STAGE: DOCKERIZE
  # =======================
  dockerize:
    name: Dockerize
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/bulimova-task:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/bulimova-task:latest


  # =======================
  # STAGE: DEPLOY
  # ======================
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: dockerize

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/bulimova-task:${{ github.sha }}
            docker stop bulimova-app || true
            docker rm bulimova-app || true
            docker run -d \
              --name bulimova-app \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/bulimova-task:${{ github.sha }}
